<header>
    <img src="/img/touch-fundoazul.svg" alt="Logo">
    <section class="nav nav-top">
        <form action="" class="search">
            <input type="search" placeholder="Buscar"> 
            <button type="submit"> 
                <i class="bi bi-search"></i>
            </button>
        </form>

        <ul class="navbar">
           <li>
                <a href="#"><i class="bi bi-cart3"></i> Carrinho</a>
           </li>
           <li>
               <a href="#"><i class="bi bi-headset"></i> Suporte</a>
           </li>
           <li>
               <a href="#"><i class="bi bi-person"></i> Perfil</a>
           </li> 
        </ul>
    </section>
    <section class="nav nav-bottom">
        <ul>
            <li>Produtos <i class="bi bi-caret-down-fill"></i></li>
            <li>Promoções <i class="bi bi-caret-down-fill"></i></li>
            <li>Sobre nós <i class="bi bi-caret-down-fill"></i></li>
        </ul>
    </section>
</header>